.post-title{
    font-size: 1.64rem;
    text-align: center;
}
.card-titlepanel{
	border-bottom: 1px solid rgba(160,160,160,0.2);
	padding: 1rem 2rem;
}
.post{
  margin-top:10px;
}
.card-content{
  padding: 1rem;
}
footer{
  margin-top: 20px;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: none; /* Hidden by default */
}

@media only screen and (max-width: 768px)  {
  .panel-main{
    padding: 0px;
  }
  .post, .index-post{
    .card-content{
      padding: 10px;
    }
  }
}

/* CSS for light and dark themes */

[data-theme=light],
.theme-light {
  /* CSS Variables */
  --bulma-body-background-color: rgb(240, 240, 240);
}

[data-theme=dark],
.theme-dark {
  /* CSS Variables */
  --bulma-body-background-color: rgb(9, 10, 12);
}

/* CSS for all theme */
.card {
  --bulma-card-shadow: 0 0em 0 0 hsla(0, 0, 0,0.0),0 0px 0 0px hsla(0,0,0,0.0)
}