---
layout: default
---



            <article class="single-post-container" itemscope itemtype='http://schema.org/BlogPosting'>
                <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ site.baseurl | prepend: site.url }}"/>
                <h1 class="title is-3 post-title mb-4" itemprop="headline">
                  {{ page.title }}
                </h1>

                <div class="single-post-meta">
                    <span class="has-text-weight-medium"><i class="fa-regular fa-calendar mr-2"></i>18 มกราคม 2569</span>
                    
                    <div class="tags mb-0">
                       
                          {% for tag in page.tags %}
                          {% if site.tag_name[tag] %}
                            <a class="tag is-light has-text-grey-dark" rel="tag" href="{{baseurl}}/tag/{{tag}}">
                              {{site.tag_name[tag]}}
                            </a>
                          {% else %}
                            <a class="tag is-light has-text-grey-dark" rel="tag" href="{{baseurl}}/tag/{{tag}}">
                              {{tag}}
                            </a>
                          {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                  {% if page.thumbnail %}
                  {% assign selfHostThumbnail = page.thumbnail | split:"://" | size %}
                  <meta itemprop="url" content="{% if selfHostThumbnail == 1 %}{{ page.thumbnail | prepend: site.baseurl | prepend: site.url}}{% else %}{{page.thumbnail}}{% endif %}"/>
                  <meta itemprop="width" content="640" />
                  <meta itemprop="height" content="312" />
                  {% else %}
                  <meta  itemprop="url" content='{{"/assets/images/pureapp-logo-200.png" | prepend: site.baseurl | prepend: site.url }}'/>
                  <meta itemprop="width" content="200" />
                  <meta itemprop="height" content="200" />
                  {% endif %}
                </div>
                
                {% assign rawExtension = page.path | split:"." | last %}
                {% if rawExtension == "md" %}
                {% if page.thumbnail %}
                <img src="{{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}" class="featured-image">
                {% endif %}
                {% endif %}
                
                <div class="content" itemprop="articleBody">     <!-- class="markdown-render" -->

                   <meta itemprop="description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 340 }}"/>
                  {{ content }}
                </div>
            </article>

            {% include share_panel.html %}